@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
 

  .pink{
    --primary:  341 76% 62%;
    --primary-foreground: 0 0% 100% ;   
  }

  .yellow{
    --primary: 41 76% 51%;
    --primary-foreground: 0 0% 0%;
  }

  .blue{
    --primary: 193 72% 55%;
    --primary-foreground: 0 0% 100%;
  }



}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}